<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Student Skill Platform</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>


<body>

    <nav>

        <h2>Student Skill Platform</h2>

        <div class="nav-links">

            <a href="/">Home</a>

            <a href="/analyze">Analyze</a>

            <a href="/leaderboard">Leaderboard</a>

        </div>

    </nav>


    <section class="hero">

        <h1>Discover Your GitHub Skills</h1>

        <p>
            Analyze GitHub projects, programming skills,
            activity and Student Skill Index.
        </p>

        <a
            href="/analyze"
            class="button"
        >
            Analyze Your Profile
        </a>

        {% if message %}

            <p class="message">
                {{ message }}
            </p>

        {% endif %}

    </section>

</body>

</html>